$theme-colors: (
  "1": #4E426D,
  "2": #2D31FA,
  "3": #5D8BF4,
  "4": #0dcaf0,
  "5": #f5f7fb,
  "6": #eec4ab,
  "7": #8776b0,
  );

$small_device: 700px;
$medium_device: 1024px;
$large_device: 1440px;   